

#imageabout{
    left: 2vw;
    order: 1;
    border: 0px;
}
#aboutleft{
    order: 2;
    padding-right: 1vw;
}
@media screen and (max-width:450px) {
    #imageabout{
        order: 2;
        left: -2vw;
    }
    #aboutleft{
        order: 1;
    }
    
}